<div *ngIf="userData$" class="container mt-3">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" [src]="userData$.photoUrl" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">{{userData$.name}}</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Join on 22/02/1991</h6>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <ngb-tabset [justify]="currentJustify">
                <ngb-tab title="Album">
                    <ng-template ngbTabContent>
                        <div class="card-columns">
                            <div class="card" (click)="open(newalbum)">
                                <button class="btn btn-outline-secondary btn-block" style="height:100%; font-size:3em;"><i class="fa fa-plus-circle" aria-hidden="true" ></i></button>
                            </div>
                            <div *ngFor="let x of userAlbums" class="card">
                                <app-album-card [album]="userData$.albums[x]" [key]="x"></app-album-card>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>

                <ngb-tab title="All Post">
                    <ng-template ngbTabContent>
                        <button class="btn btn-outline-secondary btn-block btn-sm my-3" style="height:100%; font-size:3em;" (click)="open(newpost)"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
                        <div class="card-columns container-fluid mt-2">
                            <div class="card">
                                <img class="card-img-top" src="https://i.pinimg.com/236x/64/ac/d2/64acd2c6a6b9ccfb7f44f1d9d5197fd0.jpg">
                                <div class="middle">
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <button type="button" class="btn btn-secondary"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                        <button type="button" class="btn btn-secondary"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">Card title that wraps to a new line</h4>
                                    <p class="card-text"></p>
                                </div>
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="https://i.pinimg.com/564x/e8/8a/e0/e88ae021b93f079a98c7e0213093bbbf.jpg">
                                <div class="card-body">
                                    <h4 class="card-title">Card title that wraps to a new line</h4>
                                    <p class="card-text"></p>
                                </div>
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="https://i.pinimg.com/564x/3e/e3/78/3ee378941472f01af38a3e90321d2ffa.jpg">
                                <div class="card-body">
                                    <h4 class="card-title">Card title that wraps to a new line</h4>
                                    <p class="card-text"></p>
                                </div>
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="https://i.pinimg.com/564x/86/74/07/8674070dbeaca32b376dacae8d3e0dfd.jpg">
                                <div class="card-body">
                                    <h4 class="card-title">Card title that wraps to a new line</h4>
                                    <p class="card-text"></p>
                                </div>
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="https://i.pinimg.com/564x/f6/7a/86/f67a865f75f4c99084d14d3c02edc21c.jpg">
                                <div class="card-body">
                                    <h4 class="card-title">Card title that wraps to a new line</h4>
                                    <p class="card-text"></p>
                                </div>
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="https://i.pinimg.com/564x/1a/54/4e/1a544ef596765c9b68e0106262378981.jpg">
                                <div class="card-body">
                                    <h4 class="card-title">Card title that wraps to a new line</h4>
                                    <p class="card-text"></p>
                                </div>
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="https://i.pinimg.com/236x/e0/d3/c9/e0d3c9f61e9ab6fb32e83e75f4638e6f.jpg">
                                <div class="card-body">
                                    <h4 class="card-title">Card title that wraps to a new line</h4>
                                    <p class="card-text"></p>
                                </div>
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="https://i.pinimg.com/236x/a0/af/59/a0af594360435f7e63d9517bc185d14a.jpg">
                                <div class="card-body">
                                    <h4 class="card-title">Card title that wraps to a new line</h4>
                                    <p class="card-text"></p>
                                </div>
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="https://i.pinimg.com/564x/ec/af/ea/ecafea64580d9e1deb64550222e95e6d.jpg">
                                <div class="card-body">
                                    <h4 class="card-title">Card title that wraps to a new line</h4>
                                    <p class="card-text"></p>
                                </div>
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="http://xn--hckqz0e9cygo910bmkxa1ge05c.com/wp-content/uploads/2016/07/%E3%80%90%E7%99%BD%E7%8C%AB%E3%80%91%E3%82%AB%E3%83%AC%E3%83%B3_%E7%AB%8B%E3%81%A1%E7%B5%B5%E3%82%A4%E3%83%A9%E3%82%B9%E3%83%88-720x965.png">
                                <div class="card-body">
                                    <h4 class="card-title">Card title that wraps to a new line</h4>
                                    <p class="card-text"></p>
                                </div>
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="https://i.pinimg.com/236x/64/ac/d2/64acd2c6a6b9ccfb7f44f1d9d5197fd0.jpg">
                                <div class="card-body">
                                    <h4 class="card-title">Card title that wraps to a new line</h4>
                                    <p class="card-text"></p>
                                </div>
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="https://i.pinimg.com/564x/e8/8a/e0/e88ae021b93f079a98c7e0213093bbbf.jpg">
                                <div class="card-body">
                                    <h4 class="card-title">Card title that wraps to a new line</h4>
                                    <p class="card-text"></p>
                                </div>
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="https://i.pinimg.com/564x/3e/e3/78/3ee378941472f01af38a3e90321d2ffa.jpg">
                                <div class="card-body">
                                    <h4 class="card-title">Card title that wraps to a new line</h4>
                                    <p class="card-text"></p>
                                </div>
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="https://i.pinimg.com/564x/86/74/07/8674070dbeaca32b376dacae8d3e0dfd.jpg">
                                <div class="card-body">
                                    <h4 class="card-title">Card title that wraps to a new line</h4>
                                    <p class="card-text"></p>
                                </div>
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="https://i.pinimg.com/564x/f6/7a/86/f67a865f75f4c99084d14d3c02edc21c.jpg">
                                <div class="card-body">
                                    <h4 class="card-title">Card title that wraps to a new line</h4>
                                    <p class="card-text"></p>
                                </div>
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="https://i.pinimg.com/564x/1a/54/4e/1a544ef596765c9b68e0106262378981.jpg">
                                <div class="card-body">
                                    <h4 class="card-title">Card title that wraps to a new line</h4>
                                    <p class="card-text"></p>
                                </div>
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="https://i.pinimg.com/236x/e0/d3/c9/e0d3c9f61e9ab6fb32e83e75f4638e6f.jpg">
                                <div class="card-body">
                                    <h4 class="card-title">Card title that wraps to a new line</h4>
                                    <p class="card-text"></p>
                                </div>
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="https://i.pinimg.com/236x/a0/af/59/a0af594360435f7e63d9517bc185d14a.jpg">
                                <div class="card-body">
                                    <h4 class="card-title">Card title that wraps to a new line</h4>
                                    <p class="card-text"></p>
                                </div>
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="https://i.pinimg.com/564x/ec/af/ea/ecafea64580d9e1deb64550222e95e6d.jpg">
                                <div class="card-body">
                                    <h4 class="card-title">Card title that wraps to a new line</h4>
                                    <p class="card-text"></p>
                                </div>
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="http://xn--hckqz0e9cygo910bmkxa1ge05c.com/wp-content/uploads/2016/07/%E3%80%90%E7%99%BD%E7%8C%AB%E3%80%91%E3%82%AB%E3%83%AC%E3%83%B3_%E7%AB%8B%E3%81%A1%E7%B5%B5%E3%82%A4%E3%83%A9%E3%82%B9%E3%83%88-720x965.png">
                                <div class="card-body">
                                    <h4 class="card-title">Card title that wraps to a new line</h4>
                                    <p class="card-text"></p>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>

                <ngb-tab title="Setting">
                    <ng-template ngbTabContent>

                    </ng-template>
                </ngb-tab>
            </ngb-tabset>


            <!-- new Album modal -->
            <ng-template #newalbum let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title">New Album</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                      </button>
                </div>
                <div class="modal-body">
                    <app-album-form></app-album-form>
                </div>
            </ng-template>
            <!-- end new Album modal -->

            <!-- new Post modal -->
            <ng-template #newpost let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title">New Album</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                <span aria-hidden="true">&times;</span>
                     </button>
                </div>
                <div class="modal-body">
                    <app-post-form></app-post-form>
                </div>
            </ng-template>
            <!-- end new Post modal -->